aniso8601==9.0.1
asgiref==3.5.1
auditlog3==1.0.1
certifi==2023.5.7
cffi==1.15.1
channels==4.0.0
charset-normalizer==3.1.0
cmake==3.26.4
colorama==0.4.6
colorlog==6.7.0
crypto==1.4.1
cryptography==41.0.1
defusedxml==0.7.1
distlib==0.3.6
dj-database-url==0.5.0
django-admin2==0.7.1
django-allauth==0.54.0
django-braces==1.13.0
django-ckeditor==6.1.0
django-core==1.4.1
django-debug-toolbar==4.1.0
django-elasticsearch-dsl==7.3
django-extensions==3.2.3
django-extra-views==0.8.0
django-filter==1.0.0
django-heroku==0.3.1
django-jet-4==0.0.1
django-js-asset==1.2.2
django-lockdown==4.0.0
django-ranged-response==0.2.0
django-simple-captcha==0.5.17
django-smart-selects==1.6.0
django-tenant-users==1.1.1
django-tenants==3.5.0
django-unused-media==0.2.2
django-utils-six==2.0
django-widget-tweaks==1.4.12
djangorestframework==3.5.3
djangorestframework-simplejwt==5.2.2
elasticsearch==7.17.9
elasticsearch-dsl==7.4.1
env==0.1.0
filelock==3.12.0
flake8==6.0.0
future==0.18.3
gevent==22.10.2
graphene==3.2.2
graphene-django==3.1.1
graphql-core==3.2.3
graphql-relay==3.2.0
greenlet==2.0.2
gunicorn==20.1.0
idna==3.4
iniconfig==2.0.0
Markdown==3.4.3
mccabe==0.7.0
mode==4.4.0
mypy-extensions==1.0.0
Naked==0.1.32
newsapi==0.1.1
newsapi-python==0.2.7
numpy==1.24.3
oauthlib==3.2.2
opencv-python==4.7.0.72
packaging==23.1
pandas==2.0.2
Pillow==9.3.0
pipenv==2023.6.18
platformdirs==3.5.1
pluggy==1.0.0
promise==2.3
psycopg2==2.9.6
pycodestyle==2.10.0
pycparser==2.21
pycryptodome==3.18.0
pyflakes==3.0.1
PyJWT==2.7.0
pypng==0.20220715.0
pytest==7.3.2
pytest-django==4.5.2
python-dateutil==2.8.2
python3-openid==3.2.0
PyYAML==6.0
qrcode==7.4.2
redis==4.6.0
requests==2.31.0
requests-oauthlib==1.3.1
reverse==0.1.0
shellescape==3.8.1
six==1.16.0
source==1.2.0
sqlparse==0.4.2
text-unidecode==1.3
typing_extensions==4.5.0
tzdata==2022.1
urllib3==1.26.16
validate-email==1.3
virtualenv==20.23.0
virtualenv-clone==0.5.7
websocket==0.2.1
websocket-client==1.6.1
websockets==11.0.3
whitenoise==6.0.0
zope.event==5.0
zope.interface==6.0
